/** Defaults **/

html {
  box-sizing: border-box;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "ZCOOL XiaoWei", "Open-Sans", sans-serif;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0.95);
}

img,
video {
  height: auto;
  max-width: 100%;
}
/** Others **/

.up {
  position: absolute;
  top: 0;
}

/** Classes **/

.text-center {
  text-align: center !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
}

.shadow {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.osfont {
  font-family: "Open Sans", sans-serif !important;
}

/** Nav **/

nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
  padding: 15px;
  background-color: rgb(47, 79, 79);
  height: 90px;
  align-items: center;
  width: 100%;
  transition: 0.5s;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0,);
}

nav.scrolled {
  background-color: rgba(47, 79, 79, 0.65);
}

nav .nav-item-container {
  display: flex;
  justify-self: flex-end;
  justify-content: space-evenly;
  align-items: center;
}

nav .nav-item {
  padding: 5px 20px 5px 25px;
  -webkit-text-stroke: 1px white;
  -moz-text-stroke: 1px white;
  -ms-text-stroke: 1px white;
}

nav .nav-brand {
  padding-left: 20px;
  color: white;
}

nav .nav-item b {
  cursor: pointer;
  transition: all 0.5s;
}

nav .nav-item b:hover,
nav .nav-item b:focus-visible,
nav .nav-item b:active {
  color: white;
  -webkit-text-stroke: none;
}

/** Header Styles **/

header {
  margin-top: 90px;
  height: 85vh;
  background: linear-gradient(338deg, #833ab4, #45fca0);
}

.ht {
  padding-top: 26.5vh;
  font-size: 6rem;
  animation: hf 1.5s infinite alternate;
  line-height: 2.75rem;
  color: #1bb380;
}

.ht i {
  font-size: 2.5rem;
}

.hst1 {
  color: #169168;
  animation: hf 1.5s infinite alternate;
}

@keyframes hf {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
/** About Section **/

section.about {
  height: 60vh;
  margin-top: 9.4vh;
  background: rgb(180, 58, 62);
  background: linear-gradient(
    354deg,
    rgba(180, 58, 62, 1) 0%,
    rgba(225, 252, 69, 1) 100%
  );
}
section.about .at {
  color: #e29100;
  font-size: 3rem;
  padding-top: 40px;
  animation: af 1.5s infinite alternate;
}

@keyframes af {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #e29822,
      0 0 80px #e29822, 0 0 90px #e29822, 0 0 100px #e29822, 0 0 150px #e29822;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.apc {
  padding-top: 30px;
}

.ap {
  color: #734a00;
  font-size: 1.75rem;
  width: 80%;
}

/** Projects Section **/

section.project {
  margin-top: 9.4vh;
  height: 125vh;
  background: rgb(58, 161, 180);
  background: linear-gradient(
    189deg,
    rgba(58, 161, 180, 1) 0%,
    rgba(255, 0, 223, 1) 100%
  );
}

section.project .pt {
  color: rgb(123, 77, 184);
  font-size: 3rem;
  padding-top: 40px;
  animation: pf 1.5s infinite alternate;
}

section.project .p {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

@keyframes pf {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #bd36b6,
      0 0 80px #bd36b6, 0 0 90px #bd36b6, 0 0 100px #bd36b6, 0 0 150px #bd36b6;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.card-body {
  background-color: rgba(0, 0, 0, 0.2);
  width: 400px;
  margin: 10px 30px 10px 30px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.card-body:hover,
.card-body:focus-visible,
.card-body:active {
  transform: translateY(-5px);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.card-img img {
  border-radius: 10px;
  transition: all 0.5s;
}

.card-body:hover img,
.card-body:focus-visible img,
.card-body:active img {
  transform: translateY(-2px);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.card-body:hover .card-btn,
.card-body:focus-visible .card-btn,
.card-body:active .card-btn {
  text-decoration: underline;
}

.card-title {
  padding: 15px;
  font-size: 2rem;
  line-height: 2rem;
}

.card-about {
  font-size: 1.15rem;
}

.card-btn {
  padding: 15px 0 5px 0;
}

/** Contact **/

section.contact {
  margin-top: 9.4vh;
  height: 70vh;
  background: rgb(255, 88, 88);
  background: linear-gradient(
    237deg,
    rgba(255, 88, 88, 1) 0%,
    rgba(68, 168, 255, 1) 100%
  );
}

section.contact .ct {
  color: rgb(226, 82, 82);
  font-size: 3rem;
  padding-top: 40px;
  animation: cf 1.5s infinite alternate;
}

@keyframes cf {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #d30051,
      0 0 80px #d30051, 0 0 90px #d30051, 0 0 100px #d30051, 0 0 150px #d30051;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.cpc {
  flex-direction: column;
  padding-top: 30px;
}

.cp {
  width: 80%;
  color: rgb(156, 25, 25);
  font-size: 1.75rem;
}

ul.cul {
  padding-top: 30px;
  font-size: 1.55rem;
  list-style: none;
}

li.culi {
  padding: 10px;
}

li.culi a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  transition: all 0.5s;
}

li.culi a:hover,
li.culi a:focus-visible,
li.culi a:active {
  color: gainsboro;
}

#discord {
  cursor: not-allowed;
}

/** Footer **/

footer {
  padding: 20px;
  font-size: 1.2rem;
  color: white;
}